body {
    min-height: 100vh;
    overflow: hidden;
}

#dividerContainer {
    display: grid;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    grid-template-columns: 6fr 3fr;
}

#timerSection {
    background-color: blue;
    min-height: calc(100vh - 20px);
    margin-bottom: -20px;
}

#noteSection {
    background-color: red;
    min-height: calc(100vh - 20px);
    margin-bottom: -20px;
}